.gridLayout {
  display: grid;
  grid-template-columns: 400px 1fr;
  min-height: calc(100vh - 72px);
}

/* Todo: Filters styles by @SilviaPabo/n */
.productsFilters {
  border: 1px solid grey;
  background-color: #efefef;
}

/*Cards container*/
.products {
  padding-block-start: 16px;
  padding-block-end: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .gridLayout {
    grid-template-columns: 1fr;
  }

  .productsFilters {
    height: 200px;
  }
}

.containerpaginas {
  max-width: 1400px;
  margin: 0px auto;
}

.controladorpaginas {
  float: right;
  margin-block: 16px;
}

.pagination {
  position: fixed;
  right: 32px;
  bottom:0px;
  margin-block: 16px;
}

.pagination1 {
  cursor: pointer;
    margin-inline: 2px;
    padding: 8px 12px;
    font-size: var(--sm);
    background-color: white;
    color: var(--texts);
    border: 1px solid var(--box-shadows);
    list-style-type: none;
    display:inline-block;
}

.active{
  color: var(--accented-green);
}

