.cartContainer {
  display: grid;
  grid-template-columns: 1fr 540px;
  min-height: calc(100vh - 72px);
}

.resumeContainer {
  box-shadow: 0px 4px 16px var(--box-shadows);
  min-height: calc(100vh - 72px);
}

.cart__items {
  padding: 8px 16px;
  height: max-content;
}

.cart__title {
  text-align: center;
  margin: 16px;
  text-transform: uppercase;
  color: var(--accented-green);
}

.cart__grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
