.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px 32px;
  justify-content: center;
}

.slider {
  width: 100%;
}

.rangeContainer {
  width: 100%;
}

.inputPrices {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.inputPrices input {
  margin-block: 12px;
  padding: 0.8em;
  width: 100%;
}

.inputPrices div {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.filterButton {
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;

  margin-block: 12px;
  padding: 0.8em;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: var(--sm);

  cursor: pointer;
  background-color: var(--accented-green);
  color: white;
}
